.choice-box:disabled, .choice-box:disabled > * {
  -fx-opacity: 1.0 ;
}

.list-view:disabled, .list-view:disabled > * {
  -fx-opacity: 1.0 ;
}

.labelText {
  -fx-font-size: 30px;
  -fx-font-weight: bold;
}

.constraintText {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
}

//.headers-region {
//    -fx-background-color: green ;
//    -fx-border-insets: 0, 0 0 10 0;
    //-fx-padding: 0.416667em 50em 0.0em 0.0em;
//}

//.tab-pane:top *.tab-header-area {
 //   -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
 //   -fx-padding: 0.416667em 0.166667em 0.0em 10cm; /* overridden as 5 2 0 0 */
//}

//.tab {
//	-fx-border-insets: 10, 10 10 10 10;
//}

.tab.editor .tab-label { 
   -fx-alignment: CENTER;
   -fx-text-fill: #ffffff;
}